/**
 * Generic
 */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	font-family: $font;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {

	color: $secondary;
	font-weight: 200;
	margin: 30px 0 0;

	&:first-child {
		margin-top: 0;
	}

	& + p {
		margin-top: 5px;
	}

}
h1 {
	font-size: 3.0rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.5rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {}
h6 {}

/**
 * Body
 */
p, blockquote, ul {
	color: $secondary;
	font-weight: 200;
	line-height: 2.4rem;
}
p {

	word-break: break-word;

	&:last-child {
		margin-bottom: 0;
	}

}
blockquote {
	font-style: italic;
}
pre {
	color: tint($secondary, 10%);
	font-size: 1.2rem;
}
strong, b {
	font-weight: 500;
}


/**
 * Links
 */
a {

	@include transition(color 0.2s);
	color: $secondary;
	text-decoration: underline;

    &:hover {
        color: $secondary-link-hover;
    }

}

/**
 * Text Helpers
 */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
