.interest {

	background: $secondary;
	padding: 40px 0 55px;

	&__title {
		color: tint($secondary, 40%);
		text-align: center;
		margin-bottom: 15px;
	}

	&__error {
		color: $error;
		font-size: 1.0rem;
		font-weight: 300;
		line-height: 1.2rem;
		margin: 10px 0 0;
	}

	&__form {
		text-align: center;
	}

	&__field {

		background: tint($secondary, 90%);
		min-width: 175px;

		&--poof {
			display: none;
			visibility: hidden;
		}

	}

	&__button {
		margin: -2px 0 0 -4px;
	}

	&__complete {

		text-align: center;

		i {
			font-size: 3.5rem;
			color: $primary;
			padding-bottom: 10px;
		}

		p {
			color: $primary;
			margin: 0;
		}

	}

}
