.meetup {

    $off-white: tint($secondary, 40%);

    background: $secondary;
    padding: 40px 0;
    text-align: center;

    &__title {
        color: $off-white;
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    &__event {

        padding: 15px;
        margin: 2px 0;

        h3 {

            @include transition(color 0.2s);
            color: tint($secondary, 85%);
            line-height: 2.6rem;
            margin-bottom: 2px;

            &:hover {
                color: $primary;    
            }

        }

    }

    &__meta {

        list-style: none;
        margin: 3px auto 0;
        padding: 0;

        li {
            color: $secondary-sub-heading;
            display: inline-block;
            font-size: 1.1rem;
            margin-right: 5px;
        }

        i {
            margin-right: 1px;
        }

    }

}
