.projects {

	margin: $section-margin auto;

	&__title {
		margin: 0 0 ( $section-margin / 2 );
	}

	&__items {
		@include clearfix;
	}

	&__cta {
		margin-top: ( $section-margin / 2 );
	}

	@import "module/projects/items";

	@include max-screen(640px) {

		.project {
			float: none;
			margin: 0 auto;
			width: 75%;
		}

	}

	@include max-screen(450px) {

		.project {
			width: 100%;
		}

	}

}
