.studies {

    .study {

        position: relative;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        width: 100%;
        z-index: 10;

        @include max-screen(640px) {
            height: auto;
        }

        &__overlay {

            @include transition(opacity .6s);
            position: absolute;
            background: $secondary;
            width: 100%;
            height: 100%;
            opacity: .45;
            z-index: 12;

            @include max-screen(640px) {
                opacity: .7;
            }

        }

        &__meta {

            @extend .site__medium;

            position: relative;
            z-index: 13;
            margin: 200px 100px 0;

            @include max-screen(640px) {
                margin: 100px 50px 50px;
            }

            @include max-screen(430px) {
                margin: 50px 5px 50px;
            }

            &--title {

                width: 100%;

                a {

                    text-decoration: none;
                    color: $white;

                    &:hover {
                        color: $primary;
                    }

                }

                &:after {
                    content: " ";
                    height: 1px;
                    width: 40px;
                    background-color: shade($white, 10%);
                    display: block;
                    margin: 14px 0;
                }

            }

            &--intro {

                color: shade($white, 10%);
                margin-bottom: 14px;
                width: 65%;

                @include max-screen(640px) {
                    width: 100%;
                }

            }

            &--link {

                color: shade($white, 25%);
                font-size: 1.4rem;
                font-weight: 200;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }

            }

        }

    }

}
