APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_DOMAIN=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file

SESSION_DRIVER=file
SESSION_SECURE=false

MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=
MAILGUN_SECRET=

DISABLE_NOTIFIER=false

NR_HOST=
NR_KEY=

USER_META_EMAIL_TO=
USER_META_EMAIL_FROM=
USER_META_TELEPHONE=

GOOGLE_ANALYTICS_ID=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_TOKEN=
TWITTER_TOKEN_SECRET=
TWITTER_HASHTAGS=

INSTAGRAM_ACCESS_TOKEN=

MEETUP_API_KEY=

TYPEKIT_KIT_ID=
