language: php

php:
  - 5.5
  - 5.6
  - 7.0

before_script:
  - composer install --no-interaction
  - composer dump-autoload --optimize

script:
  - mkdir ./tests/logs/
  - ./vendor/bin/phpunit

after_script:
  - travis_retry php vendor/bin/coveralls -v
