.blog {

    @import "module/blog/article";
    @import "module/blog/articles";

    // NB: These are common styles across the articles and single-article page(s).
    .article {

        &__title {

            a {

                text-decoration: none;

                &:hover {
                    color: $secondary-link-hover;
                }

            }

        }

        &__date {
            color: shade($white, 35%);
            font-size: 1.3rem;
            font-weight: 200;
            margin: 0;
        }

        &__hero {

            margin-top: 15px;

            img {
                max-height: 385px;
                width: 100%;
            }

        }

    }

}
