.work {

	.projects {

		margin: 50px auto;

		&__wrap {
			float: none;
			margin: 0 auto;
		}

		@import "module/projects/items";

		@include max-screen(740px) {

			&__wrap {
				width: 100%;
			}

			.project {
				margin: 0 auto;
				width: 50%;
			}

		}

		@include max-screen(450px) {

			.project {
				float: none;
				width: 100%;
			}

		}

	}

	@import "module/projects/single";

}
