<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # 301's
    Redirect /blog/2014/06/digital-ocean                                        /blog/digital-ocean
    Redirect /blog/2014/01/multiple-apache-virtual-host-configuration-files     /blog/multiple-apache-virtual-host-configuration-files
    Redirect /blog/2013/06/oculus-rift-virtual-experience-trials                /blog/oculus-rift-virtual-experience-trials
    Redirect /blog/2013/06/experiments                                          /blog/experiments
    Redirect /blog/2013/04/my-route-into-a-career-in-programming                /blog/my-route-into-a-career-in-programming
    Redirect /blog/2013/04/vuvens-new-company-direction                         /blog/vuvens-new-company-direction
    Redirect /blog/2013/03/learn-to-code-for-free-with-these-5-useful-resources /blog/learn-to-code-for-free-with-these-5-useful-resources
    Redirect /blog/2013/03/performance-enhanced-loops-in-javascript             /blog/performance-enhanced-loops-in-javascript
    Redirect /blog/2013/01/todays-date-automated-on-twitter                     /blog/todays-date-automated-on-twitter
    Redirect /blog/2012/12/youre-officially-for-sale-on-instagram               /blog/youre-officially-for-sale-on-instagram
    Redirect /blog/2012/12/the-new-myspace-heres-my-view                        /blog/the-new-myspace-heres-my-view
    Redirect /blog/2012/11/breaking-nested-loops-in-javascript                  /blog/breaking-nested-loops-in-javascript
    Redirect /blog/2012/11/facebook-photo-sync                                  /blog/facebook-photo-sync
    Redirect /blog/2012/11/a-trip-through-space-with-a-google-experiment        /blog/a-trip-through-space-with-a-google-experiment
    Redirect /blog/2012/11/your-passwords-are-never-good-enough                 /blog/your-passwords-are-never-good-enough

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
