.twitter {

	&__error {

		background: $error;

		p {
			margin: 0;
			padding: 10px;
			text-align: center;
		}

		&--hidden {
			display: none;
		}

	}

	&__user {

		@include transition(margin 0.2s);
		margin: 20% auto;
		position: relative;

		&--top {

			margin: 0.5% auto;

			input {
				font-size: 2rem !important;
			}

		}

		input {
			@include transition(background 0.2s, font-size 0.2s);
			border: none;
			font-weight: 200;
			font-size: 3.7rem;
			outline: none;
			padding: 10px 1%;
			text-align: center;
			width: 100%;
		}

	}

	&__loader {

		color: $secondary-sub-heading;
		font-size: 2.2rem;
		position: absolute;
		right: 1%;
		top: 10px;

		&--hidden {
			display: none;
		}

	}

	&__results {

		margin: 0 0.5%;

		&--hidden {
			display: none;
		}

	}

	&__section {

		float: left;
		margin: 0 0.5% 1%;
		width: 49%;

		header {

			background: $secondary;
			color: $white;
			padding: 7px 1%;
			position: relative;

			h1 {
				color: $white;
				font-size: 2.2rem;
			}

			p {
				color: $secondary-sub-heading;
				font-size: 1.2rem;
				margin: 0;
			}

			i,
			span {
				color: $primary;
				font-size: 2.2rem;
				position: absolute;
				right: 1%;
				top: 7px;
			}

		}

		@include max-screen(700px) {
			width: 99%;
		}

	}

	&__accounts {

		margin: 0.5% 0;

		&__profile {

			float: left;
			margin: 0.5%;
			position: relative;
			width: 19%;

			img {
				width: 100%;
				display: block;
			}

			header {

				@include transition(background 0.2s);
				background: $secondary;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				padding: 0;

				h1 {
					@include transition(color 0.2s);
					color: $white;
					margin: 0;
					padding: 5px;
					font-size: 1.2rem;
				}

			}

			i {
				background: rgba($secondary, 0.9);
				position: absolute;
				top: 0;
				left: 0;
				padding: 7px;
				font-size: 1.2rem;
				color: $white;
			}

			a:hover {

				header {

					background: rgba($primary, 0.9);

					h1 {
						color: $secondary;
					}

				}

			}

			@include max-screen(400px) {
				width: 24%;
			}

			@include max-screen(250px) {
				width: 49%
			}

		}

	}

	&__template {
		display: none;
	}

}
