/**
 * Libraries
 */
@import "bourbon/bourbon";
@import "fontawesome/font-awesome";
@import "sass-mediaqueries/media-queries";

/**
 * Vendors
 */
@import "vendor/flickity";
@import "vendor/prism";

/**
 * Variables
 */
@import "base/variables";

/**
 * Base
 */
@import "base/reset";
@import "base/typography";
@import "base/main";
@import "base/layout";
@import "base/buttons";
@import "base/form";

/**
 * Modules/Pages
 */
@import "module/home";
@import "module/about";
@import "module/blog";
@import "module/contact";
@import "module/projects";
@import "module/work";
@import "module/error";
