.education {

	background-color: tint($secondary, 5%);
	padding: 50px 0;

	&__items {
		margin: 0 auto;
		width: 90%;
	}

	&__item {

		float: left;
		margin: 20px 0;
		width: calc(100% / 3);

		h3 {

			margin-top: 7px;

			a {

				text-decoration: none;
				color: $white;

				&:hover {
					color: $primary;
				}

			}

		}

		p {
			color: $secondary-sub-heading;
			margin-top: 0;
		}

		i {
			font-size: 2.5rem;
			color: tint($secondary, 30%);
		}

	}

	@include max-screen(640px) {

		&__item {
			width: 100%;
		}

	}

}
