.experience {

	&__title {

		background-color: tint($secondary, 5%);
		padding: 20px 0;

		h2 {
			color: $white;
		}

	}

	&__wrapper {

		@include clearfix;
		padding: 70px 0;
		position: relative;

		&:before {
			background: tint($secondary, 5%);
			content: " ";
			height: 100%;
			left: 50%;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 2px;
		}

	}

	&__item {
		
		@include clearfix;
		margin: 20px 0;
		position: relative;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(odd) {

			text-align: right;

			.experience__item--desc {
				float: left;
				margin-right: 51%;
			}

		}

		&:nth-child(even) {

			text-align: left;

			.experience__item--desc {
				float: right;
				margin-left: 51%;
			}

		}

	}

	&__icon {
		color: tint($secondary, 5%);
		font-size: 1.6rem;
		height: 16px;
		left: 50%;
		margin-left: -8px;
		position: absolute;
		text-align: center;
		top: 14px;
		width: 16px;
	}

	&__desc {

		padding: 10px;
		width: 49%;

		h3 > a {
			text-decoration: none;
		}

		p {
			margin-top: 7px;
		}

	}

	&__meta {
		color: shade($white, 35%);
		font-size: 1.4rem;
		font-weight: 200;
	}

	@include max-screen(640px) {

		&__wrapper:before,
		&__icon {
			left: 0;			
		}

		&__item {

			&:nth-child(odd),
			&:nth-child(even) {

				text-align: left;

				.experience__item--desc {
					float: none;
					margin: 0 0 0 10px;
				}

			}

		}

		&__desc {
			width: 100%;
		}

	}

	@include max-screen(330px) {

		&__wrapper:before,
		&__icon {
			display: none;			
		}

		&__item {

			&:nth-child(odd),
			&:nth-child(even) {

				.experience__item--desc {
					margin: 0;
				}

			}

		}

	}

}
