.introduction {

	padding: 60px 0;

	h2 {
		margin-bottom: 10px;
	}

    &__column {

        margin: 14px 2%;
        width: 46%;

        &--left {
            float: left;
            text-align: right;
        }

        &--right {
            float: right;
            text-align: left;
        }

    }

}
