.stats {

	background-position: center;
	background-image: url('/assets/img/about/stats-background.jpg');
	background-size: cover;
	padding: 90px 0;

	&__item {
		margin: 7px 0;
	}

	&__count {
		color: $white;
		font-size: 5rem;
		line-height: 5rem;
		margin: 0;
	}

	&__type {
		@include transition(color .2s);
		color: $secondary-shaded;
		display: inline-block;
		font-weight: 300;
		font-size: 1.1rem;
		line-height: 2.3rem;
		text-transform: uppercase;
		margin-top: 5px;
	}

	a {

		text-decoration: none;

		&:hover > p {
			color: $white;
		}

	}

	@include max-screen(640px) {

		&__item {
			width: 50%;
		}

	}

	@include max-screen(350px) {

		padding: 40px 0;

		&__item {
			width: 100%;
		}

	}

}
